/** {border: 1px dashed black;}*/
div {
  width: auto;
  height: 250px;
  background-color: yellow;
}
div h1 {
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}
.sechead {color: blue;
  font-style: italic;
}
a {
  text-decoration: underline;
  color: green;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: purple;
}